# Web3 connection
GAMBA_SOLANA_RPC="https://rpc.helius.xyz/?api-key=857dbf15-7209-4923-bd42-6e2e9a5deb39"
# GAMBA_SOLANA_RPC="http://127.0.0.1:8899"
GAMBA_SOLANA_RPC_WS=

# The address that should receive fees
GAMBA_CREATOR_ADDRESS="ACoPzg7tNqhBXJm4JSQwKrJ7LiocezBTSZRQfLmrxpZz"
